.media-element{
  position: absolute;
  top: -10000em;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}


.sm-wa{
  color: #5A73FF;
}
.sm-wa:hover{
  color: #5A73FF;
}

.sm-wa-detail{
  color: #000000;;
}

.sm-fb{
  color: #5A73FF;
}
.sm-fb:hover{
  color: #5A73FF;
}

.sm-tw{
  color: #5A73FF;
}
.sm-tw:hover{
  color: #5A73FF;
}

.sm-li{
  color: #5A73FF;
}
.sm-li:hover{
  color: #5A73FF;
}


.sm-ig{
  color: #5A73FF;
}
.sm-ig:hover{
  color: #5A73FF;
}

.sm{
  margin-right: 19px;
  font-size: 25pt;
}
.sm span{
  font-size: 18px;
  /* font-weight: 100; */
}
.sm a:hover{
  color: inherit;  
}

.contact-sm{
  font-size: 20pt;
}